Repository stfc/janus-core, pull requests merged in 2024-04, with the labels that each got.

#96 add md stats reader
  docs/source/apidoc/janus_core.rst
  janus_core/stats.py
  tests/data/md-stats.dat
  tests/test_stats.py
Labels: enhancement

#104 Add janus CLI version option
  .github/scripts/check_version.py
  .github/workflows/publish-on-pypi.yml
  janus_core/cli.py
  tests/test_cli.py
  tests/test_geomopt_cli.py
  tests/test_md_cli.py
  tests/test_singlepoint_cli.py
Labels: enhancement, janus

#105 Change CLI summary to dict from list
  janus_core/cli.py
  tests/test_geomopt_cli.py
  tests/test_md_cli.py
  tests/test_singlepoint_cli.py
Labels: enhancement, janus

#107 Add heating
  README.md
  janus_core/cli.py
  janus_core/md.py
  tests/data/md-stats.dat
  tests/test_md.py
  tests/test_md_cli.py
  tests/test_stats.py
Labels: enhancement, janus

#118 Tidy code
  README.md
  pyproject.toml
Labels: bug, janus

#120 Refactor code
  docs/source/apidoc/janus_core.rst
  janus_core/calculations/geom_opt.py
  janus_core/calculations/md.py
  janus_core/calculations/single_point.py
  janus_core/cli.py
  janus_core/cli/geomopt.py
  janus_core/cli/janus.py
  janus_core/cli/md.py
  janus_core/cli/singlepoint.py
  janus_core/cli/types.py
  janus_core/cli/utils.py
  janus_core/helpers/janus_types.py
  janus_core/helpers/log.py
  janus_core/helpers/mlip_calculators.py
  janus_core/helpers/stats.py
  janus_core/helpers/utils.py
  pyproject.toml
  tests/test_cli.py
  tests/test_geom_opt.py
  tests/test_geomopt_cli.py
  tests/test_log.py
  tests/test_md.py
  tests/test_md_cli.py
  tests/test_mlip_calculators.py
  tests/test_single_point.py
  tests/test_singlepoint_cli.py
  tests/test_stats.py
  tests/test_utils.py
  tests/utils.py
Labels: enhancement, janus

#123 Define __init__ version via pyproject.toml
  janus_core/__init__.py
Labels: enhancement, janus

#122 Add a getitem to stats to retrieve data by labels or indices
  docs/source/conf.py
  janus_core/helpers/stats.py
  tests/test_stats.py
Labels: enhancement

#119 Ensure config options are valid
  README.md
  docs/source/conf.py
  janus_core/cli/geomopt.py
  janus_core/cli/md.py
  janus_core/cli/singlepoint.py
  janus_core/cli/utils.py
  tests/data/invalid.yml
  tests/test_geomopt_cli.py
  tests/test_md_cli.py
  tests/test_singlepoint_cli.py
Labels: enhancement, janus

#116 Add final restart files, and fixed heating file stems
  README.md
  janus_core/calculations/md.py
  tests/test_md.py
Labels: enhancement

#126 Remove __init__ version check
  .github/scripts/check_version.py
  .github/workflows/publish-on-pypi.yml
Labels: janus
