Repository stfc/janus-core, pull requests merged in 2024-03, with the labels that each got.

#44 Add numpydoc Sphinx extension
  .github/workflows/ci.yml
  .github/workflows/publish-on-pypi.yml
  .pre-commit-config.yaml
  docs/source/conf.py
  janus_core/__init__.py
  janus_core/geom_opt.py
  janus_core/mlip_calculators.py
  janus_core/single_point.py
  pyproject.toml
Labels: documentation, enhancement, janus

#50 Harmonise max line lengths
  .pre-commit-config.yaml
  pyproject.toml
Labels: bug

#51 Add typer
  docs/source/apidoc/janus_core.rst
  janus_core/cli.py
  janus_core/single_point.py
  pyproject.toml
  tests/test_cli.py
  tests/test_geom_opt.py
  tests/test_single_point.py
Labels: enhancement, janus

#56 Fix long line
  janus_core/cli.py
Labels: bug, janus

#54 Fix coverage read by coveralls
  .github/workflows/ci.yml
  .gitignore
  pyproject.toml
Labels: bug, janus

#58 Fix duplicate model_paths kwarg
  janus_core/mlip_calculators.py
  tests/test_mlip_calculators.py
Labels: bug, janus

#59 Add check to verify docs capture all sources
  .github/workflows/ci.yml
Labels: enhancement

#60 Fix issue with docs CI step being ordered
  .github/workflows/ci.yml
Labels: bug

#55 Write output from singlepoint
  janus_core/cli.py
  janus_core/single_point.py
  tests/test_cli.py
  tests/test_single_point.py
Labels: enhancement, janus

#62 Tidy code
  janus_core/single_point.py
  tests/test_cli.py
Labels: enhancement, janus

#63 Add option to pass Atoms structure directly
  janus_core/cli.py
  janus_core/single_point.py
  tests/test_cli.py
  tests/test_geom_opt.py
  tests/test_single_point.py
Labels: enhancement, janus

#61 Add logger skeleton
  .gitignore
  docs/source/apidoc/janus_core.rst
  janus_core/cli.py
  janus_core/janus_types.py
  janus_core/log.py
  janus_core/single_point.py
  tests/test_cli.py
Labels: enhancement, janus

#67 Fix removing NaN results
  janus_core/single_point.py
  tests/test_single_point.py
Labels: bug, janus

#69 Fix model path kwargs
  janus_core/mlip_calculators.py
  tests/test_geom_opt.py
  tests/test_mlip_calculators.py
  tests/test_single_point.py
Labels: enhancement

#74 Stop docs deployment on forks
  .github/workflows/docs.yml
Labels: bug, janus

#70 Add geomopt to CLI
  README.md
  janus_core/cli.py
  janus_core/geom_opt.py
  janus_core/log.py
  janus_core/single_point.py
  tests/test_geom_opt.py
  tests/test_geomopt_cli.py
  tests/test_single_point.py
  tests/test_singlepoint_cli.py
  tests/utils.py
Labels: enhancement, janus

#76 Add tests for geometry optimization
  tests/data/NaCl-deformed.cif
  tests/test_geom_opt.py
  tests/test_geomopt_cli.py
Labels: janus, testing

#80 Fix tox configuration
  pyproject.toml
  tox.ini
Labels: bug, janus, testing

#81 Tidy code
  janus_core/cli.py
  janus_core/single_point.py
  tests/test_geom_opt.py
  tests/test_mlip_calculators.py
  tests/test_single_point.py
  tests/utils.py
Labels: documentation, janus

#88 Add CLI option for geomopt structure path
  janus_core/cli.py
  janus_core/geom_opt.py
  tests/test_geomopt_cli.py
Labels: enhancement, janus

#89 Update output file CLI options
  janus_core/cli.py
  tests/test_geomopt_cli.py
  tests/test_singlepoint_cli.py
Labels: enhancement

#87 Add MD
  README.md
  docs/source/apidoc/janus_core.rst
  janus_core/cli.py
  janus_core/janus_types.py
  janus_core/log.py
  janus_core/md.py
  tests/test_md.py
  tests/test_md_cli.py
Labels: enhancement, janus
