Repository stfc/janus-core, pull requests merged in 2024-05, with the labels that each got.

#127 Add training for MACE
  docs/source/apidoc/janus_core.rst
  docs/source/conf.py
  janus_core/cli/janus.py
  janus_core/cli/train.py
  janus_core/helpers/train.py
Labels: enhancement, janus

#138 Add structure name option to MD CLI
  janus_core/cli/md.py
  tests/test_md_cli.py
Labels: enhancement

#142 Add fine-tuning option
  .gitignore
  README.md
  janus_core/cli/train.py
  tests/data/mlip_fine_tune.yml
  tests/data/mlip_fine_tune_invalid_foundation.yml
  tests/data/mlip_fine_tune_no_foundation.yml
  tests/data/mlip_fine_tune_train.xyz
  tests/data/mlip_test.xyz
  tests/data/mlip_train.xyz
  tests/data/mlip_train.yml
  tests/data/mlip_train_invalid.yml
  tests/data/mlip_valid.xyz
  tests/test_train_cli.py
Labels: enhancement, janus

#145 Fix saving MD log/summary in test
  tests/test_md_cli.py
Labels: bug, janus

#146 Add equation of state
  .gitignore
  README.md
  docs/source/apidoc/janus_core.rst
  janus_core/calculations/eos.py
  janus_core/calculations/geom_opt.py
  janus_core/calculations/md.py
  janus_core/cli/eos.py
  janus_core/cli/janus.py
  janus_core/cli/md.py
  janus_core/helpers/janus_types.py
  tests/test_eos.py
  tests/test_eos_cli.py
Labels: enhancement, janus

#143 Add phonons
  .gitignore
  README.md
  docs/source/apidoc/janus_core.rst
  docs/source/conf.py
  janus_core/calculations/phonons.py
  janus_core/cli/janus.py
  janus_core/cli/phonons.py
  pyproject.toml
  tests/test_phonons.py
  tests/test_phonons_cli.py
Labels: enhancement, janus

#156 fix restart time bug, by converting the offset part to fs and skip st…
  janus_core/calculations/md.py
  tests/test_md.py
Labels: bug

#154 add option to write eigenvectors and extra info in bands, useful for …
  README.md
  janus_core/calculations/phonons.py
  janus_core/cli/phonons.py
  tests/test_phonons_cli.py
Labels: enhancement, janus

#160 update readme with the new names, fixes #157
  README.md
Labels: bug

#159 Add pressure option for geomopt
  janus_core/calculations/geom_opt.py
  janus_core/cli/geomopt.py
  tests/test_geomopt_cli.py
Labels: enhancement, janus

#162 separate optimizer from the optimize to be able to use geom opt in zn…
  docs/source/conf.py
  janus_core/calculations/geom_opt.py
  janus_core/cli/md.py
  janus_core/helpers/log.py
Labels: enhancement

#165 Read all structures in trajectory by default
  README.md
  janus_core/calculations/single_point.py
  tests/data/singlepoint_config.yml
  tests/test_single_point.py
  tests/test_singlepoint_cli.py
Labels: enhancement, janus

#167 Fix type mismatches for extra MLIPs
  janus_core/helpers/mlip_calculators.py
Labels: bug, janus

#163 Add descriptors
  README.md
  docs/source/apidoc/janus_core.rst
  janus_core/cli/descriptors.py
  janus_core/cli/janus.py
  janus_core/helpers/descriptors.py
  tests/test_descriptors.py
  tests/test_descriptors_cli.py
Labels: enhancement, janus

#168 Adjust file handling to be a mixin
  janus_core/calculations/md.py
  janus_core/calculations/phonons.py
  janus_core/calculations/single_point.py
  janus_core/helpers/utils.py
  tests/test_filenamemixin.py
  tests/test_geom_opt.py
Labels: enhancement

#170 Fix typo in README
  README.md
Labels: documentation, janus

#173 Add minimize kwargs for geomopt
  README.md
  janus_core/cli/geomopt.py
  tests/data/geomopt_config.yml
  tests/test_geomopt_cli.py
Labels: enhancement, janus

#175 Add integrator kwargs to MD
  janus_core/calculations/md.py
  janus_core/cli/md.py
  janus_core/cli/types.py
  tests/test_md.py
  tests/test_md_cli.py
Labels: enhancement, janus
