Repository stfc/janus-core, pull requests merged in 2024-07, with the labels that each got.

#195 Add initial dev documentation
  docs/source/developer_guide/get_started.rst
  docs/source/developer_guide/index.rst
  docs/source/developer_guide/tutorial.rst
Labels: documentation, janus

#197 Downgrade seekpath for aiida-quantumespresso compatibility
  pyproject.toml
Labels: bug, janus

#201 Change pressure from bar to GPa
  janus_core/calculations/geom_opt.py
  janus_core/calculations/md.py
  janus_core/cli/geomopt.py
  janus_core/cli/md.py
  tests/test_geomopt_cli.py
  tests/test_md.py
Labels: enhancement, janus

#203 Track carbon usage for calculations
  docs/source/conf.py
  janus_core/calculations/eos.py
  janus_core/calculations/geom_opt.py
  janus_core/calculations/md.py
  janus_core/calculations/phonons.py
  janus_core/calculations/single_point.py
  janus_core/helpers/log.py
  pyproject.toml
Labels: enhancement, janus

#204 Fix writing structures for phonons and EoS
  janus_core/calculations/eos.py
  janus_core/calculations/phonons.py
  janus_core/cli/eos.py
  tests/test_eos_cli.py
  tests/test_phonons_cli.py
Labels: bug, enhancement, janus

#208 Fix setting devices
  janus_core/helpers/janus_types.py
  janus_core/helpers/mlip_calculators.py
  tests/test_eos.py
  tests/test_mlip_calculators.py
  tests/test_single_point.py
Labels: bug, enhancement, janus

#194 Add ALIGNN as optional MLIP
  docs/source/developer_guide/tutorial.rst
  janus_core/helpers/janus_types.py
  janus_core/helpers/mlip_calculators.py
  pyproject.toml
  tests/test_mlip_calculators.py
  tests/test_single_point.py
Labels: documentation, enhancement, janus

#210 correct units for pressure, previously were not set for geometry opti…
  janus_core/calculations/geom_opt.py
  tests/test_geom_opt.py
Labels: bug

#212 Increase precision of MD stats
  janus_core/calculations/md.py
  tests/test_md_cli.py
Labels: enhancement, janus

#215 Add final file option for MD
  README.md
  janus_core/calculations/md.py
  janus_core/cli/md.py
  tests/test_md.py
  tests/test_md_cli.py
Labels: enhancement, janus

#220 Update MACE version
  README.md
  pyproject.toml
  tests/test_single_point.py
  tests/test_singlepoint_cli.py
  tests/test_train_cli.py
Labels: bug, enhancement, janus

#216 Tidy MD stats variable names
  janus_core/calculations/md.py
Labels: enhancement, janus

#218 Fix setting calculator for list of Atoms
  janus_core/calculations/single_point.py
Labels: enhancement, janus

#222 Change default output extensions to extxyz
  README.md
  janus_core/calculations/eos.py
  janus_core/calculations/geom_opt.py
  janus_core/calculations/md.py
  janus_core/calculations/phonons.py
  janus_core/calculations/single_point.py
  janus_core/cli/descriptors.py
  janus_core/cli/geomopt.py
  janus_core/helpers/descriptors.py
  tests/data/geomopt_config.yml
  tests/data/singlepoint_config.yml
  tests/test_descriptors_cli.py
  tests/test_eos_cli.py
  tests/test_geom_opt.py
  tests/test_geomopt_cli.py
  tests/test_md.py
  tests/test_md_cli.py
  tests/test_phonons_cli.py
  tests/test_post_process.py
  tests/test_single_point.py
  tests/test_singlepoint_cli.py
Labels: enhancement, janus

#189 Add correlator with stress correlations
  docs/source/apidoc/janus_core.rst
  docs/source/developer_guide/tutorial.rst
  janus_core/calculations/md.py
  janus_core/helpers/correlator.py
  janus_core/helpers/janus_types.py
  janus_core/helpers/observables.py
  tests/test_correlator.py
Labels: enhancement, janus

#228 Fix CLI help
  janus_core/cli/descriptors.py
  janus_core/cli/eos.py
  janus_core/cli/geomopt.py
  janus_core/cli/janus.py
  janus_core/cli/md.py
  janus_core/cli/phonons.py
  janus_core/cli/singlepoint.py
  janus_core/cli/train.py
Labels: documentation, janus

#224 Refactor calculations
  docs/source/apidoc/janus_core.rst
  janus_core/calculations/descriptors.py
  janus_core/calculations/eos.py
  janus_core/calculations/geom_opt.py
  janus_core/calculations/md.py
  janus_core/calculations/phonons.py
  janus_core/cli/descriptors.py
  janus_core/cli/eos.py
  janus_core/cli/geomopt.py
  janus_core/helpers/descriptors.py
  janus_core/helpers/utils.py
  tests/test_descriptors.py
  tests/test_eos.py
  tests/test_geom_opt.py
Labels: enhancement, janus
